body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  

  background-image: url('assets/universityfront.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  filter: blur(3px); 
  z-index: -1; 
}

.logincard {
  background-color: rgba(152, 164, 174, 0.738);
  height: 75vh;
  width: 65vh;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  z-index: 1;
}